.swiper-container .sliderPro {
  width: 100%;
  height: 100%;
  background: #fcf5ef;
}

.sliderPro .swiper-slide {
  font-size: 18px;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  padding-top: 0;
}

.sliderPro .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url('../../images/books.jpg');
  filter: brightness(50%);
}

.sliderPro .swiper-slide .title {
  padding: 0;
  margin: 0;
  margin-bottom: 5%;
  font-size: 35px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: normal;
}

.sliderPro .swiper-button-prev {
  transition: transform 0.2s ease;
}

.sliderPro .swiper-button-prev:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.sliderPro .swiper-button-next {
  transition: transform 0.2s ease;
}

.sliderPro .swiper-button-next:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.sliderPro .swiper-slide .subtitle {
  font-size: 21px;
  color: white;
}

.sliderPro .swiper-slide .text {
  /* margin: 0 auto; */
  margin-bottom: -50px;
  margin-top: 4%;
  padding: 0;
  font-size: 20px;
  max-width: 600px;
  line-height: 1.3;
  color: white;
}

.sliderPro .swiper-slide .title span {
  font-size: 35px;
  /* color: #26a6a7; */
  color: #2ccfbf;
}

.sliderPro .swiper-slide .text p span {
  font-weight: bold;
  font-size: 24px;
  color: #2ccfbf;
}
