.main {
  margin-top: 0;
}

.main__header {
  padding: 0;
  margin: 5%;
  text-align: center;
  font-weight: bold;
}

.main__header cite {
  font-family: 'Caveat', cursive;
  font-size: 70px;
  color: #32353e;
}

.main__aboutUs {
  margin-bottom: 20px;
}

.main__aboutUs h3 {
  margin-top: 0;
  padding-top: 50px;
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  font-weight: bold;
  color: #32353e;
}

.main__popular h3 {
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  font-weight: bold;
  color: #32353e;
}

